@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left">@line.Item.Name</td>
                <td class="text-center">@line.Amount</td>
                <td class="text-right">@line.Item.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Item.Price).ToString("c"))
                </td>
                <td class="removeFromCart">
                    <p class="button">
                        <a class="btn btn-primary"
                           asp-controller="ShoppingCart"
                           asp-action="RemoveFromShoppingCart"
                           asp-route-itemId="@line.Item.ItemId">X</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>
}
@*<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>*@